*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #3e3999;
  transition: all 0.4s ease-out;
}
a:hover {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.wrapper {
  margin: 0;
  background: url("../img/bg.png") fixed center/cover no-repeat;
}

.no-select {
  user-select: none;
}

.top {
  z-index: 10;
  position: fixed;
  margin: 50px 100px;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
}
.top__logo {
  position: fixed;
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.35);
}
.top__logo-img {
  border-radius: 15px;
  width: 45px;
}
.top__logo-title {
  color: #750000;
  font-size: 35px;
  font-weight: 700;
}
.top__login {
  position: fixed;
  right: 100px;
  background-color: #750000;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
.top__login:hover {
  background-color: #800000;
  animation: 1.5s linear 0s infinite alternate-reverse login_anim;
}

.arrow {
  z-index: 10;
  display: none;
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 75px;
  opacity: 0.75;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid red;
  transition: all 0.4s ease-out;
}
.arrow:hover {
  opacity: 1;
  animation: 1s linear 0s infinite running arrow_anim;
}

.header {
  width: 100%;
  height: 100%;
  padding: 100px 50px 25px 50px;
  text-align: center;
}
.header__title, .header__slider {
  font-family: "RocknRoll One", sans-serif;
  letter-spacing: -9.6px;
}
.header__title {
  font-size: 64px;
}
.header__title-special {
  color: #750000;
  text-shadow: 5px 5px 0px rgba(171, 125, 5, 0.25);
}
.header__subtitle {
  margin-top: 35px;
  font-size: 42px;
  color: rgba(0, 0, 0, 0.75);
}
.header__bottom-line {
  margin: 75px auto 0 auto;
  border-bottom: 3px solid #000;
  width: 7%;
}
.header__bottom-text {
  margin-top: 15px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 46px;
  letter-spacing: 2.3px;
}
.header__bottom-arrow {
  margin-top: 25px;
  width: 50px;
  opacity: 0.6;
  transition: all 0.5s;
}
.header__bottom-arrow:hover {
  opacity: 1;
  animation: 1s linear 0s infinite alternate arrow_drag;
}

.main__choose {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.choose__block {
  height: 100%;
  padding: 25px 50px 50px 50px;
  background-color: rgba(255, 255, 255, 0.65);
  transition: all 0.4s ease-out;
}
.choose__block:hover {
  background-color: rgb(255, 221, 221);
  border-right: none;
  border-radius: 20px;
}
.choose__block:hover .choose__block-title {
  font-size: 70px;
}
.choose__block:hover .choose__block-line {
  width: 100%;
}
.choose__block-a {
  flex: 1 1 0;
}
.choose__block-title {
  color: #460000;
  font-family: "RocknRoll One", sans-serif;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}
.choose__block-line {
  margin: 50px auto 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.75);
  width: 10%;
  transition: all 0.4s ease-out;
}
.choose__block-quote {
  margin-top: 10px;
  color: #000;
}
.choose__block-quote-text {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.5px;
}
.choose__block-quote-author {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}
.choose__block-quote-author-name {
  font-size: 20px;
  font-style: italic;
  margin: auto 15px auto 0;
}
.choose__block-quote-author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slider__elem {
  font-family: "RocknRoll One", sans-serif;
}
.slider__elem-icon {
  width: 48px;
}
.slider__elem-text {
  font-size: 38px;
  letter-spacing: -6.9px;
}

.slick-list {
  overflow: hidden;
  margin-top: 50px;
}
.slick-track {
  display: flex;
  flex-wrap: nowrap;
}
.slick-slide {
  flex: 1 1 0;
  margin-top: 25px;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out;
}
.slick-current {
  margin-top: 0;
  opacity: 1;
  color: #000;
}

.footer {
  margin: 75px 0 0 0;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.55);
}
.footer__title {
  padding-top: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: "Roboto Mono", sans-serif;
}
.footer__container {
  margin: 25px 100px 0 100px;
  display: flex;
  flex-wrap: nowrap;
  letter-spacing: 1.1px;
}
.footer__block {
  flex: 1 1 0;
  padding: 10px;
}
.footer__block-content {
  font-weight: 600;
}
.footer__block-content, .footer__block-content-s {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.footer__block-content-icon, .footer__block-content-s-icon {
  width: 32px;
  height: 32px;
}
.footer__block-content-text, .footer__block-content-s-text {
  font-size: 20px;
}
.footer__block-content-text-container, .footer__block-content-s-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__block-content-link, .footer__block-content-s-link {
  font-weight: 600;
  font-size: 20px;
}
.footer__block-content-link:hover, .footer__block-content-s-link:hover {
  color: #2219d0;
}
.footer__block-container {
  width: 75%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15%;
}
.footer__block-container-elem {
  width: 42px;
  height: 42px;
  transition: all 0.4s ease-out;
}
.footer__block-container-elem:hover {
  opacity: 0.8;
}

.header__title-special {
  font-size: 78px;
}

.main {
  text-align: center;
}
.main__link-line {
  margin: 75px auto 0 auto;
  border-bottom: 3px solid #000;
  width: 7%;
}
.main__link-text {
  margin-top: 15px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 46px;
  letter-spacing: 2.3px;
}
.main__link-arrow {
  margin-top: 25px;
  width: 50px;
  opacity: 0.6;
  transition: all 0.5s;
}
.main__link-arrow:hover {
  opacity: 1;
  animation: 1s linear 0s infinite alternate arrow_drag;
}
.main__form {
  text-align: center;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.55);
}
.main__form-title {
  font-family: "RocknRoll One", sans-serif;
  letter-spacing: -9.6px;
  font-size: 48px;
}
.main__form-body {
  margin-top: 15px;
}
.main__form-text {
  margin-right: 25px;
  font-size: 32px;
  font-weight: 600;
}
.main__form-text-inside {
  font-size: 18px;
  line-height: 20px;
  margin: 10px 10px auto 10px;
}
.main__form-text, .main__form-input {
  margin-top: 35px;
}
.main__form-input, .main__form-button {
  font-family: "Roboto Mono", sans-serif;
  margin-left: 25px;
  font-size: 28px;
  border-radius: 15px;
}
.main__form-input {
  padding: 7px 10px;
  width: 300px;
}
.main__form-input-container {
  margin: 20px;
  margin-top: 0;
  position: relative;
  z-index: 10;
}
.main__form-upload {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.main__form-upload-title {
  margin: 0;
}
.main__form-img {
  margin-top: 20px;
  width: 40%;
  opacity: 0.75;
  transition: all 0.4s ease-out;
}
.main__form #file_upload, .main__form #cover_upload {
  margin-top: 15px;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}
.main__form #file_upload label, .main__form #cover_upload label {
  min-width: 250px;
  max-width: 250px;
  outline: 2px dashed #5d5d5d;
  border-radius: 15px;
  font-weight: 600;
  transition: all 0.4s ease-out;
}
.main__form #file_upload label span, .main__form #cover_upload label span {
  font-weight: 400;
}
.main__form #file_upload label:hover, .main__form #cover_upload label:hover {
  cursor: pointer;
}
.main__form #file_upload label:hover img, .main__form #cover_upload label:hover img {
  opacity: 1;
  transform: rotate(-15deg);
  width: 38%;
}
.main__form #file_upload label:hover .main__form-text-inside, .main__form #cover_upload label:hover .main__form-text-inside {
  text-decoration: underline;
}
.main__form #file_upload label.focus, .main__form #cover_upload label.focus {
  outline: 1px solid #2219d0;
  outline: -webkit-focus-ring-color auto 5px;
}
.main__form #file_upload span, .main__form #cover_upload span {
  font-size: 14px;
}
.main__form #file_upload input[type=file], .main__form #cover_upload input[type=file] {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -10;
}
.main__form #file_upload input[type=file]:focus, .main__form #cover_upload input[type=file]:focus {
  outline: 1px solid #2219d0;
}
.main__form #file_upload input[type=file]:focus + label, .main__form #cover_upload input[type=file]:focus + label {
  outline: 1px solid #2219d0;
  outline: -webkit-focus-ring-color 5px auto;
}
.main__form #file_upload .dragover, .main__form #cover_upload .dragover {
  background-color: #fafafa;
  outline-offset: -17px;
}
.main__form #file_upload .success, .main__form #cover_upload .success {
  background-color: rgb(42, 255, 102);
}
.main__form-button {
  margin: 35px;
  margin-bottom: 15px;
  background-color: rgb(255, 221, 221);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.4s ease-out;
}
.main__form-button:hover {
  background-color: rgb(254, 172, 172);
}
.main__form-link {
  font-size: 24px;
  transition: all 0.4s ease-out;
}
.main__form-link:hover {
  color: #2219d0;
}

.popup {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  transition: all 0.4s ease-out;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup.active .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 50px;
  color: #000;
  transition: all 0.4s ease-out;
  opacity: 0.75;
}
.popup__close:hover {
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 900px;
  padding: 25px 50px;
  position: relative;
  opacity: 0;
  transform: translate(0px, -100%);
  border-radius: 10px;
  transition: all 0.5s ease 0s;
}
.popup__form-title {
  font-family: "RocknRoll One", sans-serif;
  letter-spacing: -9.6px;
  font-size: 32px;
  font-weight: 600;
}
.popup__form-content {
  margin-top: 50px;
}
.popup__form-block {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.popup__form-text {
  flex: 1 1 0;
  margin-right: 25px;
  text-align: right;
  font-size: 22px;
  font-weight: 600;
}
.popup__form-text span {
  font-size: 20px;
  font-weight: 400;
}
.popup__form-input, .popup__form-button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  border-radius: 15px;
}
.popup__form-input {
  flex: 1 1 0;
  padding: 10px 15px;
}
.popup__form-button {
  margin: auto;
  padding: 15px;
  border: none;
  background-color: rgb(255, 221, 221);
  font-size: 18px;
  transition: all 0.4s ease-out;
}
.popup__form-button:hover {
  cursor: pointer;
  background-color: rgb(254, 172, 172);
}
.popup__form-link {
  margin: auto;
  font-weight: 600;
}
.popup__form-link:hover {
  color: #2219d0;
}

@media (max-width: 1100px) {
  .main__choose {
    display: block;
  }
  .choose__block {
    flex: 0 1 auto;
    padding: 0 25px;
  }
}
@media (max-width: 992px) {
  .top {
    margin: 25px;
  }
  .top__logo {
    padding: 10px;
  }
  .top__logo-img {
    width: 35px;
    border-radius: 10px;
  }
  .top__logo-title {
    font-size: 25px;
  }
  .top__login {
    right: 25px;
    font-size: 18px;
    border-radius: 10px;
    padding: 7px 15px;
  }
  .footer {
    text-align: center;
  }
  .footer__container {
    display: block;
    padding: 0;
    margin: 25px 50px 0 50px;
  }
  .footer__block {
    margin: 0 auto;
  }
  .footer__block-content-s {
    display: block;
  }
}
@media (max-width: 665px) {
  .arrow {
    width: 50px;
  }
  .header {
    padding: 75px 25px 50px 25px;
  }
  .header__title, .header__title-special {
    font-size: 58px;
  }
  .header__bottom-text {
    font-size: 40px;
    margin-top: 10px;
  }
  .header__bottom-arrow {
    margin-top: 15px;
    width: 40px;
  }
  .choose__block-title {
    font-size: 50px;
  }
  .choose__block-line {
    margin-top: 25px;
  }
  .choose__block-quote-text {
    font-size: 20px;
    line-height: 27px;
  }
  .choose__block-quote-author-img {
    width: 40px;
    height: 40px;
  }
  .choose__block-quote-author-name {
    font-size: 18px;
  }
  .choose__block:hover .choose__block-title {
    font-size: 55px;
  }
  .footer__block-content, .footer__block-content-s {
    gap: 5px;
  }
  .footer__block-content-icon, .footer__block-content-s-icon {
    width: 28px;
    height: 28px;
  }
  .footer__block-content-text, .footer__block-content-s-text {
    font-size: 18px;
  }
  .popup__content {
    padding: 15px 25px;
  }
  .popup__form-title {
    font-size: 28px;
  }
  .popup__form-content {
    margin-top: 35px;
  }
  .popup__form-block {
    margin-top: 15px;
  }
  .popup__form-text {
    margin-right: 15px;
    font-size: 20px;
  }
  .popup__form-text span {
    font-size: 18px;
  }
  .popup__form-button {
    padding: 10px;
    font-size: 16px;
  }
}
@media (max-width: 448px) {
  .choose__block-title {
    font-size: 44px;
  }
  .choose__block-quote-text {
    font-size: 17px;
    line-height: 24px;
  }
  .choose__block-quote-author-img {
    width: 35px;
    height: 35px;
  }
  .choose__block-quote-author-name {
    font-size: 15px;
  }
  .choose__block:hover .choose__block-title {
    font-size: 48px;
  }
  .footer__block-content-icon, .footer__block-content-s-icon {
    width: 22px;
    height: 22px;
  }
  .footer__block-content-text, .footer__block-content-s-text {
    font-size: 16px;
  }
  .footer__block-content-s-icon {
    width: 26px;
    height: 26px;
  }
  .popup__form-title {
    font-size: 26px;
  }
  .popup__form-content {
    margin-top: 25px;
  }
  .popup__form-text {
    margin-right: 10px;
    font-size: 18px;
  }
  .popup__form-text span {
    font-size: 16px;
  }
  .popup__form-button {
    padding: 7px 10px;
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  .choose__block-title {
    font-size: 32px;
  }
  .choose__block-quote-text {
    font-size: 14px;
    line-height: 20px;
  }
  .choose__block-quote-author-img {
    width: 30px;
    height: 30px;
  }
  .choose__block-quote-author-name {
    font-size: 12px;
  }
  .choose__block:hover .choose__block-title {
    font-size: 36px;
  }
}
@keyframes login_anim {
  0% {
    filter: none;
  }
  20% {
    filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.25));
  }
  30% {
    filter: drop-shadow(5px -5px 0px rgba(0, 0, 0, 0.5));
  }
  40% {
    filter: drop-shadow(10px 0px 0px rgba(0, 0, 0, 0.25));
  }
  50% {
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
  }
  60% {
    filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.25));
  }
  70% {
    filter: drop-shadow(-5px 5px 0px rgba(0, 0, 0, 0.5));
  }
  80% {
    filter: drop-shadow(-10px 0px 0px rgba(0, 0, 0, 0.25));
  }
  90% {
    filter: drop-shadow(-5px -5px 0px rgba(0, 0, 0, 0.5));
  }
  100% {
    filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.25));
  }
}
@keyframes arrow_drag {
  0% {
    transform: none;
  }
  20% {
    transform: none;
  }
  40% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
@keyframes arrow_anim {
  17% {
    bottom: 30px;
  }
  33% {
    bottom: 25px;
  }
  50% {
    bottom: 35px;
  }
  75% {
    bottom: 25px;
  }
  100% {
    bottom: 25px;
  }
}