*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

a {
  text-decoration: none;
  color: #3e3999;
  transition: all 0.4s ease-out;
}
a:hover {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.wrapper {
  margin: 0;
  background: url("/img/bg.png") fixed center/cover no-repeat;
}

.no-select {
  user-select: none;
}

@keyframes login_anim {
  0% {
    filter: none;
  }
  20% {
    filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.25));
  }
  30% {
    filter: drop-shadow(5px -5px 0px rgba(0, 0, 0, 0.5));
  }
  40% {
    filter: drop-shadow(10px 0px 0px rgba(0, 0, 0, 0.25));
  }
  50% {
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
  }
  60% {
    filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.25));
  }
  70% {
    filter: drop-shadow(-5px 5px 0px rgba(0, 0, 0, 0.5));
  }
  80% {
    filter: drop-shadow(-10px 0px 0px rgba(0, 0, 0, 0.25));
  }
  90% {
    filter: drop-shadow(-5px -5px 0px rgba(0, 0, 0, 0.5));
  }
  100% {
    filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.25));
  }
}
@keyframes arrow_drag {
  0% {
    transform: none;
  }
  20% {
    transform: none;
  }
  40% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
.footer {
  margin: 75px 0 0 0;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.55);
}
.footer__title {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: "Roboto Mono", sans-serif;
}
.footer__container {
  margin: 25px 100px 0 100px;
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  letter-spacing: 1.1px;
}
.footer__block {
  flex: 1 1 0;
  padding: 10px;
}
.footer__block-text {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer__block-text-icon {
  width: 24px;
  height: 24px;
}
.footer__block-text-link:hover {
  color: #2219d0;
}
.footer__block-container {
  width: 75%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.footer__block-container-elem {
  width: 64px;
  height: 64px;
  transition: all 0.4s ease-out;
}
.footer__block-container-elem:hover {
  opacity: 0.8;
}

.slider__elem {
  font-family: "RocknRoll One", sans-serif;
}
.slider__elem-icon {
  width: 48px;
}
.slider__elem-text {
  font-size: 38px;
  letter-spacing: -6.9px;
}

.slick-list {
  margin-top: 50px;
}
.slick-track {
  display: flex;
  flex-wrap: nowrap;
}
.slick-slide {
  flex: 1 1 0;
  margin-top: 25px;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out;
}
.slick-current {
  margin-top: 0;
  opacity: 1;
  color: #000;
}
.slick-arrow {
  overflow: hidden;
  opacity: 0;
}

.top {
  position: fixed;
  margin: 50px 100px;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
}
.top__logo {
  position: fixed;
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.35);
}
.top__logo-img {
  border-radius: 15px;
  width: 45px;
}
.top__logo-title {
  color: #750000;
  font-size: 35px;
  font-weight: 700;
}
.top__login {
  position: fixed;
  right: 100px;
  background-color: #750000;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
.top__login:hover {
  background-color: #800000;
  animation: 1.5s linear 0s infinite alternate-reverse login_anim;
}

.arrow {
  position: fixed;
  right: 25px;
  bottom: 25px;
  transform: rotate(180deg);
  opacity: 0.75;
  background-color: #bef4ff;
  border-radius: 50%;
  width: 50px;
  transition: all 0.4s ease-out;
}
.arrow:hover {
  opacity: 1;
}

.header {
  width: 100%;
  height: 100%;
  padding: 100px 50px 25px 50px;
  text-align: center;
}
.header__title, .header__slider {
  font-family: "RocknRoll One", sans-serif;
  letter-spacing: -9.6px;
}
.header__title {
  font-size: 64px;
}
.header__title-special {
  color: #750000;
  text-shadow: 5px 5px 0px rgba(171, 125, 5, 0.25);
}
.header__bottom-line {
  margin: 75px auto 0 auto;
  border-bottom: 3px solid #000;
  width: 7%;
}
.header__bottom-text {
  margin-top: 15px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 46px;
  letter-spacing: 2.3px;
}
.header__bottom-arrow {
  margin-top: 25px;
  width: 50px;
  opacity: 0.6;
  transition: all 0.5s;
}
.header__bottom-arrow:hover {
  opacity: 1;
  animation: 1s linear 0s infinite alternate arrow_drag;
}

.main__choose {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.choose__block {
  flex: 1 1 0;
  padding: 25px 50px 50px 50px;
  background-color: rgba(255, 255, 255, 0.55);
  transition: all 0.4s ease-out;
}
.choose__block:hover {
  background-color: rgb(255, 221, 221);
  border-right: none;
  border-radius: 20px;
}
.choose__block:hover .choose__block-title {
  font-size: 70px;
}
.choose__block:hover .choose__block-line {
  width: 100%;
}
.choose__block-title {
  color: #460000;
  font-family: "RocknRoll One", sans-serif;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}
.choose__block-line {
  margin: 50px auto 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.75);
  width: 10%;
  transition: all 0.4s ease-out;
}
.choose__block-quote {
  margin-top: 10px;
  color: #000;
}
.choose__block-quote-text {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.5px;
}
.choose__block-quote-author {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}
.choose__block-quote-author-name {
  font-size: 20px;
  font-style: italic;
  margin: auto 15px auto 0;
}
.choose__block-quote-author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}